body {
  background-color: gray;
  background: fixed linear-gradient(black 0%, gray 50%);
  height: 100vh;
}
.searchMain {
  height: 3em;
  width: 30.55em;
  border-radius: 0.5em;
  border: solid 2px #ffc000;
}
.main {
  transform: translateY(4em) translateX(6em);
  width: fit-content;
  height: fit-content;
  position: relative;
}
.welcomeMainText {
  color: white;
}
.welcomeSubText {
  color: #ffc000;
}
.MusiqueBaseLogo {
  position: fixed;
  width: 8em;
  transform: translateX(6em);
  z-index: 6;
}
.header {
  border-bottom: 1em solid #ffc000;
  background-color: black;
  height: 4.5em;
  transform: translateY(-1.5em);
  z-index: 5;
}
.sidebar-styling {
  background-color: black;
  padding-bottom: 39.96em;
  position: fixed;
  padding-top: 9em;
  width: 4.5em;
  border-right: 1em solid #ffc000;
}
.sidebar {
  font-family: initial;
}
.sidebar-master {
  height: 90%;
  z-index: 6;
}
.sidebarIcon {
  padding-top: 1em;
  padding-bottom: 1em;
  transform: translateX(0.4em);
}
.vinylrecordcss {
  z-index: 1;
  position: fixed;
  width: 14em;
  transform: translateY(-8.5em) translateX(-7.1em);
  z-index: 6;
}
.search {
  position: static;
  width: 20em;
  height: 2.4em;
  border-radius: 0.5em;
  border: solid 2px #ffc000;
}
.searchButton {
  width: fit-content;
  height: 2.5em;
  background-color: black ;
  border-radius: 0.5em;
  border: solid 2px #ffc000;
  transform: translateX(0.5em) translateY(-0.20em);
}
.searchButtonImage {
  width: 25px;
}
.searchList {
  list-style: square;
  color: black;
  background-color: white;
  border-radius: 0.5em;
  border: solid #ffc000;
  max-width: 20em;
  max-height: 150em;
  padding-right: 1em;
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: inset 0px 0px 0.2em 0.2em black;
}
.searchListItem {
  text-decoration: none;
  padding: 1em;
}
.searchListItemLink:hover {
  color: gray;
  text-decoration: none;
}
.searchListItem:hover {
  color: gray;
}
.searchNav {
  transform: translateY(-1.7em);
}
.searchListItemPic {
  width: 100px;
  border-radius: 0.5em;
}
.searchListItemPic:hover {
  width: 100px;
  border-radius: 0.5em;
  box-shadow: 2px 2px 10px 2px gray;
}
.searchListItemLink {
  color: black;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.artistname {
  color: white;
  font-size: 48pt;
  position: relative;
}
.artistThumb {
  width: 14em;
  border-radius: 0.5em;
  border: solid #ffc000;
  box-shadow: inset 0px 0px 0.2em 0.2em black;
  position: relative;
}
.artistsubtext {
  color: white;
  border-radius: 0.5em;
  border: solid #ffc000;
  box-shadow: inset 0px 0px 0.2em 0.2em black;
  background-color: black;
  padding: 1em;
  float: right;
  margin-top: 1em;
  width: 14.1em;
  transform: translateX(-3.6em);
}
.artistsubtextprofile {
  color: white;
  position: relative;
  border-radius: 0.5em;
  margin-top: 1em;
  width: 40em;
  height: 19em;
  overflow-y: scroll;
}
.artistDiv {
  display: flex;
  position: relative;
}
.header-container {
  position: fixed;
  width: 100%;
  z-index: 5;
}
.artist {
  position: relative;
}
.col-3 {
  float: left;
  position: relative;
  content: "";
  clear: right;
  display: table;
}
.col-7 {
  float: right;
  position: relative;
  content: "";
  clear: left;
  display: table;
  border-radius: 0.5em;
  border: solid #ffc000;
  box-shadow: inset 0px 0px 0.2em 0.2em black;
  background-color: black;
  transform: translateY(1.5em) translateX(2em);
}
.ReleaseButton {
  background-color: black;
  width: 14em;
  margin-top: 1em;
} 
.profileRow {
  position: relative;
}
.releaseMenu {
  max-height: 20em;
  max-width: 14em;
  overflow-y: scroll;
}