body {
  background-color: gray;
  box-shadow: inset 2em 2em 2em 2em black;
  width: 100vw;
  height: 100vh;
}
.searchMain {
  height: 3em;
  width: 30.55em;
  border-radius: 0.5em;
  border: solid 2px #ffc000;
}
.main {
  transform: translateY(-12em) translateX(6em);
}
.welcomeMainText {
  color: white;
}
.welcomeSubText {
  color: #ffc000;
}
.MusiqueBaseTitle {
  transform: translateX(5em) translateY(-0.3em);
  width: 8em;
}
.header {
  border-bottom: 1em solid #ffc000;
  background-color: black;
  height: 4em;
}
.sidebar-styling {
  background-color: black;
  position: absolute;
  transform: translateY(-15em);
  width: 4em;
  height: 100%;
  border-right: 1em solid #ffc000;
  z-index: 0;
}
.sidebar {
  padding-top: 3em;
}

.sidebarIcon {
  padding-top: 1em;
  padding-bottom: 1em;
}
.vinylrecordcss {
  z-index: 1;
  position: relative;
  width: 14em;
  transform: translateY(-11em) translateX(-7em);
}
.playbutton {
  width: 4em;
}
.search {
  width: 20em;
  height: 2.4em;
  border-radius: 0.5em;
  border: solid 2px #ffc000;
  transform: translateY(-0.5em);
}
.searchButton {
  width: fit-content;
  height: 2.5em;
  background-color: black ;
  border-radius: 0.5em;
  border: solid 2px #ffc000;
  transform: translateX(0.5em) translateY(-0.65em);
}
.searchButtonImage {
  width: 25px;
}